In [1]:
import json
import numpy as np
import collections
import copy
from os import listdir
from os.path import isfile, join

In [24]:
import pickle

In [2]:
import findspark
findspark.init()
from pyspark import SparkContext
import pyspark
conf = pyspark.SparkConf().setAll([('spark.executor.memory', '8g'), ('spark.executor.cores', '2'),('spark.executor.instances','7'), ('spark.driver.memory','32g'), ('spark.driver.maxResultSize','10g')])
sc = SparkContext(conf=conf)

In [3]:
from pyspark.sql import functions as F
from pyspark.sql.types import ArrayType, FloatType, StringType
from pyspark.sql.types import Row
from pyspark.sql import SparkSession
spark = SparkSession(sc)

In [4]:
def convert_ndarray_back(x):
    x['entityCell'] = np.array(x['entityCell'])
    return x
data_dir = "../../data/"
train_tables = sc.textFile(data_dir+"train_tables.jsonl").map(lambda x:convert_ndarray_back(json.loads(x.strip())))

In [40]:
def get_table_entity(x):
    entities = []
    valid_rows = set()
    for i,j in zip(*x['entityCell'].nonzero()):
        entities.append(Row(
            t_id=x["_id"],
            entity=x['tableData'][i][j]['surfaceLinks'][0]['target']['id'],
            c_id=int(j),
            c_name=x["processed_tableHeaders"][j],
            r_id=int(i)
        ))
        valid_rows.add(i)
#     for i in valid_rows:
#         if x['pgId']!=-1:
#             entities.append(Row(
#                 t_id=x["_id"],
#                 entity=x['pgId'],
#                 c_id=-1,
#                 c_name='[TITLE]',
#                 r_id=int(i)
#             ))
    return entities

In [9]:
from operator import add

In [43]:
from pyspark.ml.feature import Tokenizer, StopWordsRemover

In [41]:
entity_df = spark.createDataFrame(train_tables.flatMap(get_table_entity))

In [42]:
entity_df.show()

+----+--------------------+--------+----+----------+
|c_id|              c_name|  entity|r_id|      t_id|
+----+--------------------+--------+----+----------+
|   0|    military offices|27282555|   0|27281853-1|
|   1|    military offices|  980324|   0|27281853-1|
|   2|    military offices|27279970|   0|27281853-1|
|   0|              office|  450099|   0|   27282-1|
|   1|                name|  610889|   0|   27282-1|
|   2|               party|34904709|   0|   27282-1|
|   0|              office| 1702543|   1|   27282-1|
|   1|                name|40442126|   1|   27282-1|
|   2|               party|34904709|   1|   27282-1|
|   0|catholic church t...|23867939|   0|27282227-1|
|   1|catholic church t...|23866167|   0|27282227-1|
|   2|catholic church t...| 5496340|   0|27282227-1|
|   0|catholic church t...|  429187|   1|27282227-1|
|   0|    military offices|27283377|   0|27282555-1|
|   1|    military offices|  980324|   0|27282555-1|
|   2|    military offices|27281853|   0|27282555-1|
|   0|        achievements|22583176|   0|27282731-3|
|   1|        achievements| 2170226|   0|27282731-3|
|   2|        achievements|33454588|   0|27282731-3|
|   0|             country| 2086865|   0|27283077-1|
+----+--------------------+--------+----+----------+
only showing top 20 rows

In [43]:
row_e2e = entity_df.selectExpr('r_id','t_id','entity as e1').filter(F.col('c_id')==0).join(\
                entity_df.withColumnRenamed('entity','e2').filter(F.col('c_id')!=0),\
                ['r_id','t_id'],'inner')\

In [44]:
row_e2e.show()

+----+----------+--------+----+--------------------+--------+
|r_id|      t_id|      e1|c_id|              c_name|      e2|
+----+----------+--------+----+--------------------+--------+
|   0|10025846-1| 2249031|   1|     destinations |-|10025461|
|   0|10046644-1|10046542|   1|frederick casimir...|21446013|
|   0|10046644-1|10046542|   2|frederick casimir...|10047700|
|   0|1008653-20|   25734|   1|  capital ( exonym )|   57648|
|   0|10164201-1|24687388|   1|church of england...|32970032|
|   0|10164201-1|24687388|   2|church of england...| 6946578|
|   0|10207079-1| 2116639|   1|united states sta...|   75799|
|   0|10207079-1| 2116639|   2|united states sta...| 1192200|
|   0| 1024241-4|  336256|   1|             country|   31717|
|   0| 1030221-3| 5081226|   3|               owner|  627707|
|   0| 1030221-3| 5081226|   4|              format|   30077|
|   0|10314003-1|11465230|   1|                 lga| 7870335|
|   0|10392544-2|11379937|   1|              league|    2357|
|   0|10393248-1| 5899993|   1|   political offices| 5946019|
|   0|10393248-1| 5899993|   2|   political offices|  364022|
|   0| 1049348-1| 1059066|   2|    academic offices| 1204937|
|   0|10595639-2|10832270|   1|   political offices|  405514|
|   0|10595639-2|10832270|   2|   political offices|10595290|
|   0|1066829-12| 5511597|   1|           developer|28222625|
|   0|10680485-1|10680541|   1|    academic offices|  239897|
+----+----------+--------+----+--------------------+--------+
only showing top 20 rows

In [55]:
h2h = row_e2e.selectExpr('t_id as t1','e1','e2','c_name as h1').join(\
            row_e2e.selectExpr('t_id as t2','e1','e2','c_name as h2'),\
            ['e1','e2'],'inner').select('t1','t2','h1','h2').dropDuplicates().groupBy(['h1','h2']).agg(F.count('t1').alias('count'))\
            .filter(F.col('h1')!=F.col('h2'))

In [56]:
with open("../../data/n_h2h.pkl","wb") as f:
    h2h_local = {}
    for h1,h2,count in h2h.rdd.map(lambda x:(x['h1'],x['h2'],x['count'])).collect():
        if h1 not in h2h_local:
            h2h_local[h1] = {}
        h2h_local[h1][h2] = count
    pickle.dump(h2h_local, f)

In [38]:
row_e2e = row_e2e.rdd.map(lambda x:(x["e1"],[[x["t_id"],x["c_id"],x["c_name"],x["e2"]]])).reduceByKey(add)

In [39]:
with open("../../data/e2e_row.json","w") as f:
    json.dump(dict(row_e2e.collect()), f, indent=2)

In [33]:
row_e2e.take(2)

[(1192200,
  [['10207079-1',
    0,
    'united states statistical areas in the stateofmichigan',
    2116639],
   ['10207079-1',
    1,
    'united states statistical areas in the stateofmichigan',
    75799]]),
 (228600,
  [['14513849-1', 0, 'academic offices', 24912434],
   ['14513849-1', 2, 'academic offices', 2906014],
   ['24892630-1', 0, 'academic offices', 24939220],
   ['24892630-1', 2, 'academic offices', 24912434],
   ['3119216-1', 0, 'academic offices', 2906014],
   ['3119216-1', 2, 'academic offices', 11602165],
   ['13264837-2', 0, 'name', 516566],
   ['78455-1', 1, 'location and population', 138333],
   ['78455-1', 7, 'nickname', 3475181],
   ['17690519-1', 1, 'location', 138333],
   ['17690519-1', 5, 'nickname', 3475181],
   ['9839991-1', 3, 'player name', 7361593],
   ['9839991-1', 4, 'position', 492475],
   ['31641596-1', 0, 'year', 25085059],
   ['31641596-1', 1, 'player', 4806366],
   ['16419215-1', 1, 'location', 138333],
   ['16419215-1', 5, 'nickname', 3475181],
   ['27816698-1', 1, 'location', 138333],
   ['27816698-1', 6, 'nickname', 3475181],
   ['38099068-3', 0, 'name', 2906014],
   ['38099068-3', 1, 'original chapter', 31922],
   ['19786678-11', 0, 'name', 1139775],
   ['11602165-1', 0, 'academic offices', 3119216],
   ['376183-1', 0, 'year', 4293387],
   ['376183-1', 1, 'player', 5487171],
   ['16338520-8', 0, 'year', 29151],
   ['16338520-8', 1, 'winning qb', 746681],
   ['16338520-8', 3, 'losing qb', 288178],
   ['16338520-8', 4, 'college', 87011],
   ['26715338-4', 4, 'type', 18587143],
   ['2538117-6', 5, 'type', 18587143],
   ['24237858-1', 0, 'team', 3475181],
   ['24237858-1', 2, 'city', 138333],
   ['24237858-1', 3, 'conference', 78455],
   ['5165795-1', 0, 'team', 7773465],
   ['5165795-1', 2, 'city', 138333],
   ['5165795-1', 3, 'state', 13015878],
   ['5165795-1', 4, 'conference', 78455],
   ['33955968-8', 0, 'name', 2503004],
   ['39833428-1', 0, 'year', 171796],
   ['39833428-1', 2, 'team champion', 30813159],
   ['39833428-1', 3, 'individual champion', 714524],
   ['3604099-1', 1, 'team', 3475181],
   ['3604099-1', 2, 'city', 138333],
   ['3604099-1', 3, 'state', 13015878],
   ['3604099-1', 4, 'primary conference', 78455],
   ['2538117-6', 5, 'type', 18587143],
   ['23954386-3', 0, 'player', 12898396],
   ['16338520-8', 0, 'year', 29156],
   ['16338520-8', 1, 'winning qb', 4920175],
   ['16338520-8', 2, 'college', 4610689],
   ['16338520-8', 3, 'losing qb', 896988],
   ['100643-1', 0, 'name', 53326884],
   ['2906014-1', 0, 'academic offices', 14513849],
   ['2906014-1', 2, 'academic offices', 3119216],
   ['26942651-3', 0, 'year', 6306119],
   ['26942651-3', 2, 'player', 6312393],
   ['23954386-2', 0, 'player', 5487171],
   ['10335581-1', 1, 'conference', 78455],
   ['24912434-1', 0, 'academic offices', 24892630],
   ['24912434-1', 2, 'academic offices', 14513849],
   ['25228241-1', 0, 'player', 5487171],
   ['39833428-1', 0, 'year', 171781],
   ['39833428-1', 2, 'team champion', 30813159],
   ['26715338-4', 4, 'type', 18587143],
   ['35805252-1', 1, 'location', 138333],
   ['10360656-2', 1, 'position', 359688],
   ['10360656-2', 3, 'acquired from', 34268531],
   ['3594724-1', 0, 'year', 4168628],
   ['3594724-1', 1, 'winner', 2698421]])]

In [29]:
e2column = entity_df.rdd.map(lambda x:(x["entity"],[[x["t_id"],x["c_id"]]])).reduceByKey(add)
table_column2e = entity_df.rdd.map(lambda x:('%s-%d'%(x["t_id"],x["c_id"]),[x["entity"]])).reduceByKey(add)

In [30]:
with open("../../data/e2column.json","w") as f:
    json.dump(dict(e2column.collect()), f, indent=2)
with open("../../data/table_column2e","w") as f:
    json.dump(dict(table_column2e.collect()), f, indent=2)

In [32]:
table_column2e.take(10)

[('27282-1-2', [34904709, 34904709]),
 ('27283077-9-0', [4061083]),
 ('27283867-1-0',
  [612068, 24663262, 1690426, 2062331, 2026115, 1464381, 2312196, 28282542]),
 ('27285439-1-1', [23110304]),
 ('2728567-1-0', [25616606, 4736148, 2728010]),
 ('27286369-3-0', [16953666, 13213577, 12553843]),
 ('27290345-2-1',
  [5364159,
   31954112,
   9425158,
   9332010,
   9110148,
   3253971,
   23459693,
   26138114,
   28236220,
   22814941,
   18894094,
   51016932,
   28234487]),
 ('2729110-1-0', [371823, 10053201]),
 ('2729110-1-1', [164671, 164671]),
 ('27292530-1-2', [41512237, 9854423])]

In [34]:
e2column.take(10)

[(2612640, [['27283877-1', 0]]),
 (92360,
  [['27283877-1', 1],
   ['36903750-6', 2],
   ['36903750-6', 2],
   ['37928592-2', 3],
   ['37928592-2', 3],
   ['8113877-2', 1],
   ['26824095-2', 1],
   ['956879-5', 2],
   ['23780861-5', 2],
   ['38036637-1', 2],
   ['31311901-3', 2],
   ['35831830-2', 3],
   ['5112830-1', 3],
   ['36873469-2', 3],
   ['22126529-2', 2],
   ['36147867-2', 3],
   ['36349189-8', 2],
   ['9290308-3', 3],
   ['18833914-4', 2],
   ['18833914-4', 2],
   ['18833914-4', 2],
   ['18833914-4', 2],
   ['18833914-4', 2],
   ['36086750-6', 2],
   ['33801409-2', 3],
   ['33801409-2', 3],
   ['3522778-1', 1],
   ['28796362-2', 2],
   ['28796362-2', 2],
   ['28796362-2', 2],
   ['28796362-2', 2],
   ['28796362-2', 2],
   ['28796362-2', 2],
   ['28796362-2', 2],
   ['28796362-2', 2],
   ['28796362-2', 2],
   ['28796362-2', 2],
   ['28796362-2', 2],
   ['3869688-1', 3],
   ['36473008-2', 3],
   ['4534190-2', 2],
   ['18696349-1', 1],
   ['11593393-3', 1],
   ['35430791-4', 3],
   ['35430791-4', 3],
   ['39540726-2', 3],
   ['39540726-2', 3],
   ['39540726-2', 3],
   ['29126986-3', 2],
   ['24421960-2', 2],
   ['21030293-2', 3],
   ['7735253-1', 1],
   ['7735253-2', 1],
   ['32416983-4', 3],
   ['21719099-1', 1],
   ['32843301-3', 3],
   ['2616902-1', 1],
   ['32198830-4', 1],
   ['40448868-1', 3],
   ['23586158-1', 2],
   ['28036849-3', 3],
   ['28036849-3', 3],
   ['28064775-3', 2],
   ['33054944-2', 3],
   ['40136659-1', 1],
   ['36834913-2', 3],
   ['36834913-2', 3],
   ['36834913-2', 3],
   ['35123685-1', 1],
   ['39721221-1', 3],
   ['39721221-1', 3],
   ['38283466-1', 3],
   ['34650680-3', 3],
   ['34650680-3', 3],
   ['34650680-3', 3],
   ['28541540-4', 2],
   ['32841833-2', 3],
   ['12641326-6', 3],
   ['12641326-6', 3],
   ['12641326-6', 3],
   ['12641326-6', 3],
   ['12641326-6', 3],
   ['12641326-6', 3],
   ['12641326-6', 3],
   ['22387484-2', 3],
   ['22387484-2', 3],
   ['37401719-2', 3]]),
 (7522120,
  [['27285595-1', 1],
   ['27285595-1', 1],
   ['27285595-1', 1],
   ['27286595-1', 1],
   ['27286595-1', 1],
   ['27286595-1', 1],
   ['27366731-1', 1],
   ['27366731-1', 1],
   ['27366731-1', 1],
   ['6746647-3', 4],
   ['6746647-4', 4],
   ['6746647-4', 4],
   ['6746647-4', 4],
   ['27276256-1', 1],
   ['27276256-1', 1],
   ['27276256-1', 1],
   ['705604-1', 1],
   ['27211392-1', 1],
   ['27211392-1', 1],
   ['27211392-1', 1],
   ['27226695-1', 1],
   ['27226695-1', 1],
   ['27226695-1', 1],
   ['27226790-1', 1],
   ['27226790-1', 1],
   ['27226790-1', 1],
   ['2715867-1', 1]]),
 (5612440, [['27286369-1', 2], ['10015132-8', 0]]),
 (11736920,
  [['27290345-1', 2],
   ['17591791-1', 3],
   ['11914980-4', 2],
   ['4116389-3', 5],
   ['23214833-1', 3]]),
 (4068280,
  [['27290345-1', 0],
   ['27290345-2', 0],
   ['27290345-6', 0],
   ['5641682-1', 0],
   ['5653467-1', 2],
   ['37850406-2', 4],
   ['689493-4', 4],
   ['677536-1', 4],
   ['5344766-1', 0],
   ['35984171-1', 0],
   ['35984171-4', 0],
   ['5758904-2', 2],
   ['5616623-1', 2],
   ['37205006-4', 0],
   ['37205006-5', 2],
   ['37205006-6', 0],
   ['5401149-1', 0],
   ['17556307-1', 0],
   ['17556307-3', 2],
   ['17556307-4', 0],
   ['17556309-2', 0],
   ['17556309-3', 0],
   ['17556314-1', 2],
   ['17556314-2', 0],
   ['17556314-3', 0],
   ['17556314-4', 0],
   ['17556325-1', 0],
   ['17556325-4', 0],
   ['17556329-2', 2],
   ['17556329-3', 0],
   ['17556329-4', 0],
   ['17556341-1', 2],
   ['17556341-2', 0],
   ['17556341-3', 2],
   ['17556341-4', 0],
   ['17556347-3', 2],
   ['17556347-4', 2],
   ['17556347-5', 0],
   ['17556351-1', 2],
   ['17556355-1', 2],
   ['17556355-2', 0],
   ['5410269-1', 0],
   ['17591791-1', 0],
   ['17591791-3', 0],
   ['11914980-3', 0],
   ['11914980-4', 0],
   ['4918282-1', 0],
   ['4918282-2', 0],
   ['14664538-1', 3],
   ['2318137-1', 2],
   ['2318137-1', 2],
   ['2318137-1', 4],
   ['2318137-2', 0],
   ['4116105-1', 0],
   ['4116389-3', 1],
   ['4116389-3', 2],
   ['8914181-1', 1],
   ['8914181-1', 1],
   ['8914181-1', 1],
   ['8914181-1', 1],
   ['8914181-1', 1],
   ['8914181-1', 1],
   ['3205346-1', 4],
   ['23214833-3', 0],
   ['39555320-1', 0],
   ['21606425-1', 3],
   ['1089000-1', 0],
   ['39494040-1', 0],
   ['39494040-4', 0],
   ['895607-2', 4],
   ['833846-1', 4],
   ['616358-3', 4],
   ['14225131-2', 6],
   ['14225131-2', 2],
   ['14225131-2', 2],
   ['31964777-1', 0],
   ['31964777-5', 0],
   ['13436826-24', 0],
   ['19934503-3', 2]]),
 (28233480,
  [['27291384-5', 0],
   ['27291384-5', 1],
   ['27291384-5', 3],
   ['27295818-29', 0],
   ['27295818-29', 1],
   ['27295818-29', 3],
   ['27365414-18', 0],
   ['27365414-18', 1],
   ['27365414-18', 3],
   ['27802631-5', 0],
   ['34311538-1', 11],
   ['33274223-1', 11],
   ['35375136-1', 11],
   ['35388845-1', 11],
   ['35389391-1', 11],
   ['35408321-1', 11],
   ['35487941-1', 11],
   ['25713088-1', 11],
   ['35409654-1', 11],
   ['35414350-1', 11],
   ['35458097-1', 13],
   ['10433968-1', 12],
   ['33713013-1', 11],
   ['33846639-1', 11]]),
 (12977600,
  [['27291879-1', 1],
   ['23603234-1', 1],
   ['35827148-1', 1],
   ['32815832-1', 1]]),
 (939280, [['2729346-1', 2], ['945726-3', 0]]),
 (31815920,
  [['27294107-4', 1],
   ['31590418-3', 1],
   ['31871983-2', 1],
   ['31548762-2', 3],
   ['35514977-1', 1],
   ['35515060-1', 1],
   ['31522390-3', 1],
   ['31524100-3', 1],
   ['31970072-2', 1],
   ['31216784-3', 1],
   ['31417179-4', 1],
   ['33015632-1', 1],
   ['32997344-2', 1],
   ['31590542-4', 1],
   ['31590559-1', 1],
   ['31590664-5', 1],
   ['31590676-3', 1],
   ['31597128-3', 1],
   ['28580354-8', 1],
   ['28580380-4', 1],
   ['30928639-3', 1],
   ['33053405-1', 1],
   ['25971838-5', 1],
   ['29262137-7', 1],
   ['32821202-4', 1]])]